.form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: none;
}

.form__label {
  margin: 0;
  margin-bottom: 8px;
  align-self: flex-start;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__input {
  border-radius: 4px;
  margin-bottom: 32px;
  max-width: 385px;
  border: 1px solid #838383;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  padding: 15px 20px;
  line-height: 30px;
  color: #000;
  box-sizing: border-box;
  width: 100%;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  border-radius: 4px;
  background-color: #1878dc;
  transition: 0.5s;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  margin-bottom: 0;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
