.header {
  background-color: #ffffff;
  background-repeat: no-repeat;
  margin: auto;
  background-position: center;
  background-size: cover;
  /*font-size: 0px;*/

  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
}

.header__title {
  max-width: 729px;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  margin: 28px 0;
  max-width: 683px;
  position: relative;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
  z-index: -1;
}

.header__footer .header__paragraph {
  margin: 0;
}

.header__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__main-title {
  position: relative;
  top: 183px;
  left: 80px;
}

.header__paragraph {
  margin: 0;
}
