.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
}

.page .header {
  position: relative;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  margin: auto;
  object-fit: cover;
  height: 800px;
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /*DELETE THIS COLOR LATER, I JUST CANT SEE */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  max-width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 8px 0 0;
  padding: 30px 80px;
}

.nav__logo {
  position: relative;
  top: 30px;
  left: 30px;
}

.header__title {
  max-width: 729px;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  margin: 28px 0;
  max-width: 683px;
  position: relative;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer .header__paragraph {
  margin: 0;
}

.header__footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: auto;
  position: absolute;
  bottom: 40px;
  left: 80px;
  right: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__footer .header__paragraph:last-of-type {
  align-self: end;
  position: relative;
  right: 160px;
}

.header__main-title {
  position: relative;
  top: 183px;
  left: 80px;
}

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  height: 800px;
}

.recipes__title {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  padding-top: 100px;
  padding-left: 80px;
  margin: 0;
}

.recipes__subtitle {
  color: white;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  padding-left: 80px;
  margin: 0;
  padding-top: 24px;
}

.recipes__videos {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
